/*Global*/

.no-animate {
	transition: none;
}

:root {
	--black: #000000;
	--light-black: #1C1C1E;
	--dark-grey: #767676;
	--grey: #F4F4F4;
	--light-grey: #F1F1F1;
	--white: #FFFFFF;
}

:root {
	--spacing-xxs: 8px;
	--spacing-xs: 16px;
	--spacing-s: 24px;
	--spacing-m: 32px;
	--spacing-l: 80px;
	--spacing-xl: 112px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
nav, nav li, nav li a, nav li img, nav li a:after,
.cta,
.footer,
.footer-cta a,
.fixed-cta, .fixed-cta a,
p,
p a,
.status,
.skill-icon img,
.blur-hover,
.success-metrics,
.success-metrics img,
.success-metrics a:before,
.success-metrics a:hover:after,
.project-light,
.project-dark
{
    transition: opacity, color, background-color, 400ms 100ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
}

/*Typography*/

h1 {
	font-family: 'Inter', sans-serif;
	font-size: 64px;
	color: var(--black);
	letter-spacing: -1px;
	font-weight: 600;
	line-height: normal;
	padding-bottom: var(--spacing-m);
	margin: 0;
}

h2 {
	font-family: 'Inter', sans-serif;
	font-size: 56px;
	color: var(--black);
	letter-spacing: -0.88px;
	font-weight: 600;
	line-height: normal;
	margin: 0;
}

h2 a {
	color: var(--black);
	transition: color 400ms 100ms cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0ms;
}

h2 a:hover {
	opacity: 0.5;
}

h3 {
	font-family: 'Inter', sans-serif;
	font-size: 32px;
	color: var(--black);
	letter-spacing: -0.5px;
	font-weight: 600;
	line-height: normal;
	margin: 0;
}

h4 {
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	color: var(--dark-grey);
	letter-spacing: -0.25px;
	font-weight: 500;
	line-height: normal;
	margin: 0;
}

h5 {
	font-family: 'Inter', sans-serif;
	font-size: 20px;
	color: var(--black);
	letter-spacing: -0.31px;
	font-weight: 600;
	line-height: normal;
	margin: 0;
}

p {
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	color: var(--black);
	letter-spacing: -0.28px;
	font-weight: 400;
	line-height: 30px;
	margin: 0;
	-webkit-font-smoothing: antialiased;
}

.smaller-p {
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	color: var(--black);
	letter-spacing: -0.25px;
	text-align: center;
	font-weight: 400;
	line-height: 30px;
	padding: var(--spacing-l) 0 48px 0;
	margin: 0;
	-webkit-font-smoothing: antialiased;
}

.smaller-p a {
	color: var(--black);
	transition: color 400ms 100ms cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0ms;
}

.smaller-p a:hover {
	opacity: 0.5;
}

/*General Styles*/

ul {
	margin: 0;
	padding: 0;
}

nav {
	height: 100px;
}

.logo {
	background-image: url('images/logo.svg');
	background-repeat: no-repeat;
	width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
}

.logo a {
	display: block;
	width: 40px;
	height: 40px;
}

.logo:hover {
	cursor: pointer;
}

.logo a:after {
	display: none;
}

.nav-links {
	display: flex;
	list-style: none;
	align-items: center;
	height: 100%;
}

.nav-links img {
	padding-right: var(--spacing-s);
}

nav li {
	padding: 0 var(--spacing-s);
	height: 17px;
}

nav li:first-child {
	padding-left: 0;
}

nav li, nav li a, .cta, .footer-cta a, .fixed-cta a {
	font-family: 'Inter', sans-serif;
	font-size: 14px;
	color: var(--black);
	letter-spacing: -0.25px;
	font-weight: 500;
	line-height: normal;
	text-decoration: none;
}

nav li a:after {
	border-bottom: solid 1px var(--black);
    content: '';
    display: block;
    margin-top: 3px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 250ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

nav li a:hover:after {
	transform: scaleX(1);
}

/*Dark Mode Styles*/

.dark-mode-toggle {
	cursor: pointer;
	margin-left: auto;
	width: 24px;
	height: 24px;
}

.dark-mode {
    background-color: #101010;
    --black: #F5F5F7;
    --light-black: #1A1A1A;
    --dark-grey: #767676;
    --grey: #1A1A1A;
    --light-grey: #1A1A1A;
    --white: #101010;
    -webkit-font-smoothing: antialiased;
    transition: opacity, color, background-color, 400ms 100ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.dark-mode .footer h2 {
	color: var(--black);
}

.dark-mode .footer-cta {
	background-color: var(--black);
}

.dark-mode .footer-cta a {
	color: var(--white);
}

.dark-mode .logo, .dark-mode .success-metrics img, .dark-mode .success-metrics a:before, .dark-mode .success-metrics a:hover:after {
	filter: invert(96%) sepia(3%) saturate(89%) hue-rotate(201deg) brightness(101%) contrast(96%);
}

.nav-links .dark-mode-toggle {
	padding: 0;
}

.cta {
	padding: var(--spacing-m) 0;
	text-decoration: underline;
}

.hero {
	padding: 200px 0 240px 0;
	align-items: center;
	flex-wrap: wrap;
}

.project-container .hero {
	padding: 200px 0 0 0;
}

.project-container .treatwell, .project-container .bacardi, .project-container .sage, .project-container .lindy, .project-container .thingstream, .project-container .bravo {
	background-size: cover;
}


.project-container .projects {
	grid-row-gap: var(--spacing-m);
	padding-bottom: var(--spacing-l);
}

.hero h1 {
	width: 100%;
}

.hero h3 {
	max-width: 500px;
}

.project-dark {
	background-color: var(--light-black);
	margin: var(--spacing-xl) 0;
}

.project-light {
	background-color: var(--light-grey);
	margin: var(--spacing-xl) 0;
}

.slate {
	margin: 0 0 var(--spacing-l) 0;
}

.slate .project-light {
	margin: var(--spacing-l) 0 0 0;
}

.slate .project-image {
	margin: 0;
}

.slate .project-container h3 {
	margin: var(--spacing-l) 0 var(--spacing-m) 0;
}

.bottom-gap img {
	margin: var(--spacing-l) 0 var(--spacing-l) 0;
}

.project-container h3 {
	margin: var(--spacing-l) 0 var(--spacing-m) 0;
}

.project-container p {
	margin-bottom: var(--spacing-m);
}

.project-container .project-single h5 {
	font-size: 18px;
}

.project-image {
	display: block;
	width: 100%;
	margin: var(--spacing-l) 0 0 0;
}

.about-image {
	display: block;
	width: 100%;
	margin: var(--spacing-l) 0 var(--spacing-l) 0;
}

.project-column {
	justify-content: center;
	flex-wrap: wrap;
	align-content: flex-end;
}

.project-title {
	width: 100%;
	display: grid;
	column-gap: var(--spacing-m);
	grid-template-columns: repeat(1, 1fr);
}

.project-title h1 {
	width: 100%;
	border-bottom: 1px solid var(--light-grey);
	margin-bottom: var(--spacing-m)
}

.project-details {
	display: grid;
	column-gap: var(--spacing-m);
	grid-template-columns: repeat(1, 1fr);
	padding-bottom: var(--spacing-m);
	width: 100%;
}

.skills {
	display: grid;
	column-gap: var(--spacing-m);
	grid-template-columns: repeat(1, 1fr);
	row-gap: var(--spacing-xl);
	padding-bottom: var(--spacing-xl);
	width: 100%;
}

.skill-icon {
	height: 32px;
	width: 100%;
	padding: 0 0 var(--spacing-xs) 0;
}

.skill-icon img {
	border-radius: 100px;
}

.dark-mode .skill-icon img {
	opacity: 0.07;
}

.success-metrics {
	padding-bottom: var(--spacing-l);
	border-bottom: 1px solid var(--light-grey);
}

.success-metrics a {
	text-decoration: none;
}

.success-metrics a:before {
	content: url('images/icon-globe.svg');
	margin: 0 8px 0 0;
	vertical-align: middle;
    line-height: normal;
}

.success-metrics a:hover:after {
	content: url('images/icon-link.svg');
	margin: 0 0 0 8px;
}

p.live-link {
	padding: var(--spacing-m) 0 0 0;
}

.success-metrics a {
	color: var(--black);
}

a.social {
	color: var(--black);
	transition: color 400ms 100ms cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0ms;
}

a.social:hover {
	opacity: 0.5;
}

.success-icon {
	display: grid;
	column-gap: var(--spacing-xs);
	grid-template-columns: repeat(1, 32px 1fr);
	width: 100%;
	margin: 0 0 var(--spacing-xs) 0;
}

.success-final {
	margin: 0;
}

.success-icon p {
	margin: 2px 0 0 0;
}


.project-detail h4 {
	padding-bottom: var(--spacing-xs);
}

.projects {
	display: grid;
	width: 100%;
	column-gap: var(--spacing-m);
	grid-template-columns: repeat(1, 1fr);
	grid-row-gap: var(--spacing-l);
	padding-bottom: var(--spacing-xl);
}

.project-container .projects {
	grid-template-columns: repeat(2, 1fr);
}

.project-card {
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.project-card a {
	text-decoration: none;
}

.project-card:hover .treatwell,
.project-card:hover .bacardi,
.project-card:hover .sage,
.project-card:hover .lindy,
.project-card:hover .thingstream,
.project-card:hover .bravo {
	filter: blur(22px);
	transition: opacity, filter 0.45s ease;
}

.project-card h3 {
    padding-top: var(--spacing-m);
}

.project-card h5 {
	position: absolute;
	color: var(--white);
	z-index: -1;
	transition: opacity, filter, 0.45s ease;
	opacity: 0;
}

.project-card:hover h5 {
	z-index: 1;
	opacity: 1;
}

.project-single {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--grey);
	transition: opacity, color, background-color, 400ms 100ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.project-single img {
	display: block;
	height: 100%;
	width: 100%;
	backface-visibility: hidden;
}

.dark-mode .project-single {
	background-color: var(--light-black);
	transition: opacity, color, background-color, 400ms 100ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.treatwell {
	background-image: url('images/treatwell/project-treatwell.png');
	background-size: contain;
	background-repeat: no-repeat;
	transition: filter 0.45s ease, opacity 0.45s ease, background-image 400ms 100ms cubic-bezier(0.645, 0.045, 0.355, 1);
	background-position:center;
	width: 100%;
}

.bacardi {
	background-image: url('images/bacardi/project-bacardi.png');
	background-size: contain;
	background-repeat: no-repeat;
	transition: filter 0.45s ease, opacity 0.45s ease, background-image 400ms 100ms cubic-bezier(0.645, 0.045, 0.355, 1);
	background-position:center;
	width: 100%;
}

.sage {
	background-image: url('images/sage/project-sage.png');
	background-size: contain;
	background-repeat: no-repeat;
	transition: filter 0.45s ease, opacity 0.45s ease, background-image 400ms 100ms cubic-bezier(0.645, 0.045, 0.355, 1);
	background-position:center;
	width: 100%;
}

.lindy {
	background-image: url('images/lindy/project-lindy.png');
	background-size: contain;
	background-repeat: no-repeat;
	transition: filter 0.45s ease, opacity 0.45s ease, background-image 400ms 100ms cubic-bezier(0.645, 0.045, 0.355, 1);
	background-position:center;
	width: 100%;
}

.thingstream {
	background-image: url('images/thingstream/project-thingstream.png');
	background-size: contain;
	background-repeat: no-repeat;
	transition: filter 0.45s ease, opacity 0.45s ease, background-image 400ms 100ms cubic-bezier(0.645, 0.045, 0.355, 1);
	background-position:center;
	width: 100%;
}

.bravo {
	background-image: url('images/bravo/project-bravo.png');
	background-size: contain;
	background-repeat: no-repeat;
	transition: filter 0.45s ease, opacity 0.45s ease, background-image 400ms 100ms cubic-bezier(0.645, 0.045, 0.355, 1);
	background-position:center;
	width: 100%;
}

.dark-mode .treatwell {
	background-image: url('images/treatwell/project-treatwell-dark.png');
}

.dark-mode .bacardi {
	background-image: url('images/bacardi/project-bacardi-dark.png');
}

.dark-mode .sage {
	background-image: url('images/sage/project-sage-dark.png');
}

.dark-mode .lindy {
	background-image: url('images/lindy/project-lindy-dark.png');
}

.dark-mode .thingstream {
	background-image: url('images/thingstream/project-thingstream-dark.png');
}

.dark-mode .bravo {
	background-image: url('images/bravo/project-bravo-dark.png');
}

.photos {
	padding-top: var(--spacing-l);
}

.photo-card img {
	display: block;
	height: 100%;
	width: 100%;
}

.what-i-do h2 {
	padding-bottom: var(--spacing-xl);
}

.footer {
	background-color: var(--light-black);
	height: 500px;
	align-items: center;
	z-index: 2;
    position: relative;
}

.sub-footer {
	background-color: var(--light-black);
	height: 100px;
	align-items: center;
	z-index: 2;
    position: relative;
}

.social-links {
	width: 100%;
	text-align: center;
}

.social-links a {
	color: var(--dark-grey);
	text-decoration: none;
	padding: 0 4px;
}

.social-links a:hover {
	text-decoration: underline;
}

.footer h2 {
	text-align: center;
	color: var(--white);
	padding: 0 0 var(--spacing-m) 0;
}

.footer h5 {
	text-align: center;
}

.footer h5 a {
	padding: 0 4px 0 4px;
	text-decoration: none;
	color: var(--dark-grey);
}

.footer h5 a:hover {
	text-decoration: underline;
}

.footer .project-details {
	padding-top: var(--spacing-l);
	grid-template-columns: repeat(1, 1fr);
}

.footer-cta {
	display: flex;
	margin: 0 auto;
	background-color: var(--white);
	width: 168px;
	height: 48px;
}

.footer-cta a, .fixed-cta a {
	font-size: 14px;
	display: block;
	width: 100%;
    height: 100%;
    text-align: center;
    line-height: 3.4;
}

.fixed-cta {
	display: flex;
	position: fixed;
	justify-content: center;
	align-items: center;
	background-color: var(--black);
	width: 168px;
	height: 48px;
	right: 0;
	bottom: 0;
	margin: 24px;
	z-index: 1;
}

.fixed-cta a {
	color: var(--white);
}

.show-on-scroll.is-visible {
	opacity: 1;
}

.show-on-scroll {
	opacity: 0;
	transition: opacity 900ms 100ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

/*Columns & Grid*/

.wrapper {
	padding: 0 var(--spacing-s);
}

.container {
	width: 100%;
	max-width: 1168px;
	margin: 0 auto;
}

.project-container {
	width: 100%;
	max-width: 868px;
	margin: 0 auto;
}

.status {
	display: flex;
	width: 100%;
	height: 608px;
	background-color: var(--grey);
	align-items: center;
	margin: 0 0 var(--spacing-xl) 0;
}

.status h2 {
	margin: 0 auto;
	padding: var(--spacing-xl) var(--spacing-m);
	max-width: 900px;
}

.col-12-lrg {
	display: flex;
	width: 100%;
}

/*Media Queries*/

/*Tablet*/
@media (max-width: 900px){
	h2 {
		font-size: 48px;
	}

	.project-details {
		row-gap: var(--spacing-s);
	}

	.project-details h4 {
		padding-bottom: 8px;
	}
}

/*Mobile*/
@media (max-width: 600px){
	.col-12-sml {
		width: 100%;
	}

	h1 {
		font-size: 48px;
	}

	h2 {
		font-size: 40px;
	}

	h3 {
		font-size: 32px;
	}

	.project-details, .skills {
		row-gap: var(--spacing-s);
	}

	.project-details h4 {
		padding-bottom: 8px;
	}

	.success-icon {
		grid-template-columns: repeat(1, 1fr);
		row-gap: var(--spacing-xxs);
		padding-bottom: 0;
	}

	.success-final {
		margin-bottom: var(--spacing-xxs);
	}

	.line {
		width: 30px;
		height: 2px;
		background: var(--black);
		margin: var(--spacing-xxs) 0;
		transition: all 0.25s ease-in;
	}

	.navigation {
	    border-bottom: none;
	}

	.navigation .wrapper {
		padding: 0;
	}

	nav {
		position: fixed;
		width: 100%;
		background: none;
		border: none;
		z-index: 3;
		pointer-events: none;
	}

	.nav-links li:last-child {
		padding-top: 22px;
		padding-left: 24px;
		height: 44px;
	}

	.hamburger {
		position: absolute;
		cursor: pointer;
		right: var(--spacing-s);
		z-index: 3;
		margin-top: var(--spacing-xs);
		pointer-events: auto;
	}

	.hamburger.open .line:nth-child(1) {
	    transform: translateY(10px) rotate(45deg);
	}

	.hamburger.open .line:nth-child(2) {
	    opacity: 0;
	}

	.hamburger.open .line:nth-child(3) {
	    transform: translateY(-10px) rotate(-45deg);
	}

	.nav-links {
		position: fixed;
		background: var(--white);
		height: 100vh;
		width: 100%;
		flex-direction: column;
		clip-path: circle(100px at 114% -14%);
		-webkit-clip-path: circle(100px at 114% -14%);
		transition: all 0.6s ease-in-out;
		pointer-events: none;
		padding-top: 70px;
	}

	.nav-links.open {
		clip-path: circle(1800px at 90% -10%);
		-webkit-clip-path: circle(1800px at 90% -10%);
		pointer-events: all;
	}

	.cta {
		display: none;
	}

	.logo {
		position: absolute;
		top: var(--spacing-xs);
		left: var(--spacing-s);
		border: none;
	}

	.nav-links li {
		padding: var(--spacing-s) var(--spacing-s);
		width: 100%;
		border-top: 1px solid var(--light-grey);
		animation: fade-in 1000ms ease forwards, slide-in-right 1000ms ease forwards;
	    opacity: 0;
	}

	.nav-links li:first-child {
		border: none;
	}

	.nav-links li a {
		padding-left: 24px;
	}

	.nav-links li.logo, .nav-links li.logo a {
	padding: 0;
	}

	.nav-links li:nth-child(1) {
		animation-delay: calc((0 * 70ms) + 900ms);
	}

	.nav-links li:nth-child(2) {
		animation-delay: calc((1 * 70ms) + 900ms);
	}

	.nav-links li:nth-child(3) {
		animation-delay: calc((2 * 70ms) + 900ms);
	}

	.nav-links li:nth-child(4) {
		animation-delay: calc((3 * 70ms) + 900ms);
	}

	.nav-links li:nth-child(5) {
		animation-delay: calc((4 * 70ms) + 900ms);
	}

	nav li:first-child {
		padding-left: var(--spacing-s);
	}

	nav li:last-child {
		border-bottom: 1px solid var(--light-grey);
	}

	nav li a:after {
		display: none;
	}

	.hero {
		padding: 144px 0 120px 0;
	}

	.hero .project-title p {
		margin-bottom: var(--spacing-l);
	}

	.project-container .hero {
		padding: 144px 0 0 0;
	}

	.status {
		height: auto;
	}

	.status h2 {
		padding: var(--spacing-l) var(--spacing-m);
	}

	.what-i-do h2 {
		padding-bottom: var(--spacing-l);
	}

	.success-metrics {
		padding-bottom: var(--spacing-xs);
	}

	.smaller-p {
		padding: var(--spacing-xl) 0 var(--spacing-s) 0;
	}

	.footer {
		height: auto;
		padding: calc(var(--spacing-xl)*2) 0 var(--spacing-l) 0;
	}

	#navbar.navbar-hide {
		top: 0px;
	}


@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slide-in-right {
  from {
    transform: translate(-15px, 0);
  }

  to {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translate(0, 0);
  }
}

/*Variable Media Queries*/

	:root {
	--spacing-m: 24px;
	--spacing-l: 32px;
	--spacing-xl: 48px;
}

}

/*Mobile First Media Queries*/

@media (min-width: 375px){
/*	.projects {
		margin: 0 auto;
	}*/
}

@media (min-width: 600px){
	.projects, .project-details, .skills {
		grid-template-columns: repeat(2, 1fr);
	}

	.project-container .projects {
		grid-template-columns: repeat(3, 1fr);
	}

	#navbar {
		position: fixed;
		width: calc(100% - 48px);
		max-width: 1168px;
		height: 100px;
	    left:50%;
	    transform:translateX(-50%);	
		top: 0px;
		transition: top 0.45s ease;
		z-index: 1;
	}

	#navbar.navbar-hide {
		top: -100px;
	}

	.navigation {
		height: 100px;
	}
}

@media (min-width: 900px){
	.projects, .project-details {
		grid-template-columns: repeat(3, 1fr);
	}
	
	.skills {
		grid-template-columns: repeat(4, 1fr);
	}
}